@import "tailwindcss";
@import "./fonts.css";


:root {
  --background: #2C3E50;
  --foreground: #F5EFE0;
}

@theme {
  --font-display: "satoshi", "rubik", "interSemi" "sans-serif";
  --color-*: initial;
  --color-white: #fff;
  --color-cream: #F5EFE0;
  --color-navy: #2C3E50;
  --color-primary: #D94F30;
  --color-secondary: #FF6B35;
  --color-yes: #10B981;
  --color-no: #EF4444;
  --color-gray: #838587;
}

body {
  background: #2C3E50;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  /* inverts the color, making black -> white */
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}